Q-1

In [1]:
mystring="datascience"

In [2]:
type(mystring)

str

In [3]:
mylist=[1,2,2.98,'aakanksha',True]

In [4]:
type(mylist)

list

In [5]:
a=7.98

In [6]:
type(a)

float

In [14]:
b=("banana", "apple", "cherry")

In [15]:
type(b)

tuple

Q-2

1- str
2- str
3- list
4- int

Q-3

/ -  This is division operator. It returns quotient.

In [9]:
x=25
y=5
print(x/y)

5.0

% - This is a modulus. when a is divided by b, and the remainder of the division returned.

In [6]:
a=5
b=2
print(a%b)

1

// - This is a floor division operator. After division X by Y , the resultant is always a floating number and will be rounded to the nearest whole number, making it equivalent to the function.

In [5]:
x=15
y=2
print(x//y)

7

** - This is exponentiation. It returns first raised to power second

In [7]:
x=2
y=5
print(x**y)

32

Q-4

In [21]:
s=[2, 5, "shalu", 12.34, '12.34', "data", True, "science", False, 7]

In [22]:
type(s)

list

In [5]:
for i in s:
    print(type(i))
    print(i)

<class 'int'>
2
<class 'int'>
5
<class 'str'>
shalu
<class 'float'>
12.34
<class 'str'>
12.34
<class 'str'>
data
<class 'bool'>
True
<class 'str'>
science
<class 'bool'>
False
<class 'int'>
7

Q-5

In [5]:
A=16
B=2
if A%B==0:
    print("A is purely divisible by number B")
    count = 0
    while A%B==0:
        A = A/B
        count = count+1
    print("A is purely divisible by number B" ,count, "times")
else:
    print("A is not purely divisible by number B")

A is purely divisible by number B
A is purely divisible by number B 4 times

Q-6

In [5]:
a= list(range(25))
for i in a:
    if(i%3==0):
        print(i, "is divisible by 3")
    else:
        print(i, "is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q-7

1-mutable datatype can be modified or updated after intial assignment. example- list.

2-immutable datatypes cannot be modified or updated after assignment. example- string.